<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天气主页</title>
</head>
<body>

    <div align="center">
        <form action="/weather" method="get">
            <p>
                城市名：<input type="text" name="city">
                <input type="submit" value="查询" />
            </p>
        </form>
        <button onclick="window.location.href='http://localhost:66/北京'" >北京</button>
        <button onclick="window.location.href='http://localhost:66/上海'" >上海</button>
        <button onclick="window.location.href='http://localhost:66/广州'" >广州</button>
        <button onclick="window.location.href='http://localhost:66/深圳'" >深圳</button>
        <button onclick="window.location.href='http://localhost:66/武汉'" >武汉</button>
        <button onclick="window.location.href='http://localhost:66/logout'" >退出</button>
    </div>
    <div align="center">
        <table border="1">
            <tr >
                <td colspan="12" th:text="${weather.citys}"></td>
            </tr>
            <tr>
                <td colspan="12" th:text="${weather.prompt}"></td>
            </tr>
            <tr>
                <th>日期</th>
                <th>天气</th>
                <th>最低温</th>
                <th>最高温</th>
                <th>风向</th>
                <th>风力</th>
            </tr>
            <tr th:each="wea : ${Forecast}">
                <td th:text="${wea.date}"></td>
                <td th:text="${wea.type}"></td>
                <td th:text="${wea.low}"></td>
                <td th:text="${wea.high}"></td>
                <td th:text="${wea.fengxiang}"></td>
                <td th:text="${wea.fengli}"></td>
            </tr>
        </table>
    </div>
</body>
</html>