<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="center">
        <h3>尊敬的用户您好，欢迎登录到天气查询界面！</h3>
        <form action="/weather" method="get">
            <p>
                城市名：<input type="text" name="city">
                <input type="submit" value="查询" />
            </p>
        </form>
        <button onclick="window.location.href='http://localhost:66/北京'" >北京</button>
        <button onclick="window.location.href='http://localhost:66/上海'" >上海</button>
        <button onclick="window.location.href='http://localhost:66/广州'" >广州</button>
        <button onclick="window.location.href='http://localhost:66/深圳'" >深圳</button>
        <button onclick="window.location.href='http://localhost:66/武汉'" >武汉</button>
        <button onclick="window.location.href='http://localhost:66/苏州'" >苏州</button>
    </div>
</body>
</html>