<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <li th:text="${weather.citys}"></li>

    <table border="1">
        <tr>
            <th>日期</th>
            <th>天气</th>
            <th>最低温</th>
            <th>最高温</th>
            <th>风向</th>
        </tr>
        <tr th:each="wea : ${Forecast}">
            <td th:text="${wea.date}"></td>
            <td th:text="${wea.type}"></td>
            <td th:text="${wea.low}"></td>
            <td th:text="${wea.high}"></td>
            <td th:text="${wea.fengxiang}"></td>
        </tr>
    </table>
    <li th:text="${weather.ganmao}"></li>
</body>

</html>